.profile__edit-button {
    width: 24px;
    height: 24px;
    margin-left: 18px;
    padding: 0;
    border: 1px solid #fff;
    box-sizing: border-box;
    background: url(../../../images/edit-button.svg) no-repeat;
    background-position: center;
    outline: none;
    transition: all .1s linear;
    cursor: pointer;
}

@media screen and (max-width:670px) {
    .profile__edit-button {
        margin: 10px 0 0 10px;
        width: 18px;
        height: 18px;
    }
}

.profile__edit-button:hover {
    opacity: 0.6;
}