.elements__card {
    background-color: white;
    border-radius: 4%;
    margin: 0;
    padding: 0;
    width: 282px;
    height: 361px;
}

@media screen and (max-width:980px) {
    .elements__card {
      width: 282px;
    }
}

@media screen and (max-width:630px) {
    .elements__card {
    width: 282px;
    }
}