.popup__button {
    padding: 0;
    margin: 0;
    background-color: #000;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    transition: 2s;
    color: #fff;
    height: 50px;
    border-radius: 2px;
}

.popup__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width:670px) {
    .popup__button {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
    }
}