.profile__add-button {
    background: url(../../../images/add_button.png) no-repeat;
    background-position: center;
    height: 50px;
    width: 150px;
    padding: 0;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 2px;
    margin: 4% 0 0;
    outline: none;
    transition: all .1s linear;
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}


@media screen and (max-width:670px) {
    .profile__add-button {
    margin-top: 36px;
    width: 282px;
    }
}