.footer__copyright {
    font-weight: 400;
    font-size: 18px;
    color: #545454;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:900px) {
    .footer__copyright {
      margin-left: 18px;
    }
}