.profile__info {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 22px 0 0 0;
    justify-content: flex-start;
    overflow: hidden;
    max-width: 65%;
    text-overflow: ellipsis;
}

@media screen and (max-width:670px) {
    .profile__info {
      max-width: 282px;
    }
}